body {
  background: #111;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Press Start 2P', monospace;
}

#game {
  display: block;
  margin: auto;
  background: #191f33;
  border: 5px solid #555;
  box-shadow: 0 0 60px #000a;
}

#mobile-controls {
  position: fixed;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  z-index: 10;
  display: none;
  gap: 2vw;
}

#mobile-controls button {
  background: #333;
  color: #fefefe;
  font-size: 2.3em;
  border: 2px solid #555;
  border-radius: 9px;
  width: 60px;
  height: 60px;
  margin: 4px;
  outline: none;
}

@media (max-width: 600px) {
  #game {
    width: 96vw !important;
    height: 70vw !important;
    max-width: 100vw;
    max-height: 80vh;
  }
  #mobile-controls {
    display: flex;
  }
}